<header>
  <!-- Following Menu -->
  <nav>
    <div class="ui large top fixed menu">
      <div class="ui container">
        <%= link_to image_tag('logo.svg', :class =>  "#", :alt => "Njooh"), root_path, {:class=>"item"} %>
        <div class="right menu">
          <div class="item">
            <%= link_to 'Sign Up', root_path, class: "ui green button" %>
          </div>
          <div class="item">
            <a href="#" class="ui primary button">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>