@font-face{
  font-family: 'NjoohDisplay-Black';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Black.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Bold';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Bold.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Heavy';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Heavy.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Light';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Light.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Medium';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Medium.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Medium';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Medium.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Regular';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Regular.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Semibold';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Semibold.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Thin';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Thin.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'NjoohDisplay-Ultralight';
  src: font-url("SanFranciscoFont/SanFranciscoDisplay-Ultralight.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}